#disqus_thread
:javascript
    /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://ortuna.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

%noscript
    Please enable JavaScript to view the
    %a{:href=>"http://disqus.com/?ref_noscript=ortuna"} comments
    powered by Disqus.
%a.dsq-brlink{:href=>"http://disqus.com"}
    comments powered by 
    %span.logo-disqus Disqus
