%p
  Github: 
  = link_to('http://www.github.com/ortuna', 'http://www.github.com/ortuna')
%p
  Twitter: 
  = link_to('http://www.twitter.com/ortuna', 'http://www.twitter.com/ortuna')
%p
  Email: 
  = link_to('ortuna@gmail.com', 'ortuna@gmail.com')  
