%header
  %nav
    %ul
      %li.first
        Ortuna
      %li
        %a{href: '#'} Articles
      %li
        %a{href: '#'} About
      %li
        %a{href: '#'} Contact

  %h1 
    This is an article
%p
  asdflasdflasdj alsdjf alksdj fljas dlfkajs dlkja l
